<div class="display_flex width_100_percent flex_wrap <%=className%>">
  <style>
    .<%=className%> .color_item {
      cursor: pointer;
      transition: all 0.15s linear;
    }
    .<%=className%> .color_item.active {
      width: <%=width_hover%>px;
      height: <%=width_hover%>px;
    }
    .<%=className%> .color_item:hover {
      width: <%=width_hover%>px;
      height: <%=width_hover%>px;
    }
  </style>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item active"
      style="background-color: #7b68ee"
      value="#7b68ee"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #ffa12f"
      value="#ffa12f"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #ff5722"
      value="#ff5722"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #f42c2c"
      value="#f42c2c"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #f8306d"
      value="#f8306d"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #ff00fc"
      value="#ff00fc"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #4169e1"
      value="#4169e1"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #5f81ff"
      value="#5f81ff"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #07a092"
      value="#07a092"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #2ea52c"
      value="#2ea52c"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #757380"
      value="#757380"
    ></div>
  </div>
  <div
    class="width_<%=width_wrapper%> height_<%=height_wrapper%> display_flex align_items_center justify_content_center"
  >
    <div
      class="color_picker width_<%=width%> height_<%=width%> border_radius_50_percent color_item"
      style="background-color: #202020"
      value="#202020"
    ></div>
  </div>
</div>
